<ion-view view-title="新闻速览">
  <ion-content class="padding">
    <div class="content" ng-controller="SlideController">

        <ion-slide-box active-slide="myActiveSlide" auto-play="true" does-continue="true">
            <ion-slide>
                <div class="box "><img src="../img/news1.jpg" alt=""/></div>
            </ion-slide>
            <ion-slide>
                <div class="box "><img src="../img/news2.jpg" alt=""/></div>
            </ion-slide>
            <ion-slide>
                <div class="box "><img src="../img/news3.jpg" alt=""/></div>
            </ion-slide>
        </ion-slide-box>


        <!--新闻卡片-->
        <div class="list card">

            <div class="item item-avatar">
                <img src="../img/ifenglogo.jpg">
                <h2>美媒评习近平访美的“最难忘时刻”</h2>
                <!--<p>November 05, 1955</p>-->
            </div>

            <div class="item item-body">
                <img class="full-image" src="../img/news1.jpg">
                <p>
                    美媒称，在结束美国和联合国之行后，中国国家主席习近平28日启程回国。回顾此行，最难忘的时刻——而且也许是最重要的时刻——是目睹总市值达2.5万亿美元的美国企业的高管向中国国家主席表示敬意。！
                </p>
                <p>
                    <a href="#" class="subdued">1 喜欢</a>
                    <a href="#" class="subdued">5 评论</a>
                </p>
            </div>

            <div class="item tabs tabs-secondary tabs-icon-left">
                <a class="tab-item" href="#">
                    <i class="icon ion-thumbsup"></i>
                    喜欢
                </a>
                <a class="tab-item" href="#">
                    <i class="icon ion-chatbox"></i>
                    评论
                </a>
                <a class="tab-item" href="#">
                    <i class="icon ion-share"></i>
                    分享
                </a>
            </div>

            <!------------------------------------>

            <div class="item item-avatar">
                <img src="../img/Nexuslogo.png">
                <h2>Google发布两款Nexus手机</h2>
                <!--<p>November 05, 1955</p>-->
            </div>

            <div class="item item-body">
                <img class="full-image" src="../img/news2.jpg">
                <p>
                    这一天终于盼到了，新的nexus phone终于发布了，之前泄露的够多了，小编这里就做个大致的说明，首先配置方面两台设备和之前泄露的完全一致，连单位像素值都和泄露的一毛一样...真是够彻底的。
                </p>
                <p>
                    <a href="#" class="subdued">1 喜欢</a>
                    <a href="#" class="subdued">5 评论</a>
                </p>
            </div>

            <div class="item tabs tabs-secondary tabs-icon-left">
                <a class="tab-item" href="#">
                    <i class="icon ion-thumbsup"></i>
                    喜欢
                </a>
                <a class="tab-item" href="#">
                    <i class="icon ion-chatbox"></i>
                    评论
                </a>
                <a class="tab-item" href="#">
                    <i class="icon ion-share"></i>
                    分享
                </a>
            </div>

             <!------------------------------------>

            <div class="item item-avatar">
                <img src="../img/sinalogo.jpg">
                <h2>中国药学家屠呦呦获诺贝尔医学奖</h2>
                <!--<p>November 05, 1955</p>-->
            </div>

            <div class="item item-body">
                <img class="full-image" src="../img/news3.jpg">
                <p>
                    当地时间10月5日11时30分（北京时间17时30分），诺贝尔奖评审委员会宣布，中国药学家屠呦呦，美国科学家威廉-坎贝尔、日本科学家聪大村共同获得2015年诺贝尔生理学或医学奖。这也是中国科学家首次获得诺贝尔医学奖。
                </p>
                <p>
                    <a href="#" class="subdued">1 喜欢</a>
                    <a href="#" class="subdued">5 评论</a>
                </p>
            </div>

            <div class="item tabs tabs-secondary tabs-icon-left">
                <a class="tab-item" href="#">
                    <i class="icon ion-thumbsup"></i>
                    喜欢
                </a>
                <a class="tab-item" href="#">
                    <i class="icon ion-chatbox"></i>
                    评论
                </a>
                <a class="tab-item" href="#">
                    <i class="icon ion-share"></i>
                    分享
                </a>
            </div>

        </div>

    </div>
  </ion-content>
</ion-view>
